nav{
    background-color: rgb(101, 101, 196);
    align-items: center;
    padding: 20px 50px;
}
nav a{
    text-decoration: none;
    color: black;
    margin-right: 20px;
}

nav a:hover{
    color: orangered;
}