.footer{
    height: 50px;
    display: flex;
    justify-content: center;
    background-color: gray;
    align-items: center;
    padding: 5px;
    margin-top: 20px;
    
    
}
.footer p{
    color: white;
}