.footer{
    height: 50px;
    text-align: center;
    background-color: gray;
    align-items: center;
    padding: 5px;
    margin: 0px;
    margin-top: 20px;
    
    
}
.footer p{
    color: white;
    margin-top: 8px;
}